#Login{
	-fx-background-image: url("Pictures/exerciseWall.jpg");
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	
}

.button:hover{
	-fx-background-color: #005853;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

.button{
	-fx-background-color: turquoise;
	-fx-border-width: 0.0;
	-fx-background-radius: 0.0;
	-fx-font-size: 15.0px;
	-fx-text-fill: white;
}

#HomePage{
	-fx-background-image: url("Pictures/homePage.jpg");
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
}

#Preloader{
	-fx-background-image: url("Pictures/preloaderWall.jpg");
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	-fx-background-size: 800.0 500.0;
}

#AddUser{
	-fx-background-image: url("Pictures/exerciseWall.jpg");
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
}

#userIdLogin{
	-fx-border-radius: 20.0px;
}

#login:hover{
	-fx-background-color: #005853;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

#login {
	-fx-background-color: turquoise;
	-fx-border-width: 0.0;
	-fx-background-radius: 0.0;
	-fx-font-size: 15.0px;
	-fx-text-fill: white;
	-fx-border-radius: 20.0px;
	-fx-background-radius:8.0px;
}

#addUserLogin:hover{
	-fx-background-color: #005853;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

#addUserLogin {
	-fx-background-color: turquoise;
	-fx-border-width: 0.0;
	-fx-background-radius: 0.0;
	-fx-font-size: 15.0px;
	-fx-text-fill: white;
	-fx-border-radius: 20.0px;
	-fx-background-radius:8.0px;
}

#confirmAddUser:hover{
	-fx-background-color: #005853;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

#confirmAddUser {
	-fx-background-color: turquoise;
	-fx-border-width: 0.0;
	-fx-background-radius: 0.0;
	-fx-font-size: 15.0px;
	-fx-text-fill: white;
	-fx-border-radius: 20.0px;
	-fx-background-radius:8.0px;
}

#backAddUser:hover{
	-fx-background-color: #005853;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

#backAddUser {
	-fx-background-color: turquoise;
	-fx-border-width: 0.0;
	-fx-background-radius: 0.0;
	-fx-font-size: 15.0px;
	-fx-text-fill: white;
	-fx-border-radius: 20.0px;
	-fx-background-radius:8.0px;
}